AUTH_SECRET=EV90ogzPHD873WnarzqZwJ4AuAToklSfeMdJMzS4g9xlHK8Qb4cuYU1x1GpdvixN
AUTH_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://ygmbahmqtbhbehjtwzcp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnbWJhaG1xdGJoYmVoanR3emNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MzE4OTksImV4cCI6MjA4OTEwNzg5OX0.1DeDYVlR6G1oiWvjqxTLaiMdzMrDRW_I_tEUR83jZqs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnbWJhaG1xdGJoYmVoanR3emNwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzMTg5OSwiZXhwIjoyMDg5MTA3ODk5fQ.gi_YO-_UGRNwdY6yvMHBBUyN1e7uS8Wb1PNpHF-ZOuw
